{% extends 'base.html.twig' %}

{% block title %}Créer un événement{% endblock %}

{% block body %}
<h1>Créer un événement</h1>

{{ form_start(form) }}
  {{ form_row(form.titre) }}
  {{ form_row(form.description) }}
  {{ form_row(form.date) }}
  {{ form_row(form.lieu) }}
  <button class="btn btn-success">Créer</button>
{{ form_end(form) }}
{% endblock %}
